@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Be Vietnam Pro;
    background-color: #f7f7f8;
}

.container {
    width: calc(100% - 120px);
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
}

.header {
    background-color: #f7f7f8;
    border-bottom: 1px solid #f1f1f3;
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 20px 0;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
}

.header .header-left {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header a {
    color: #262626;
}

.header .navbar span {
    padding: 14px 24px;
    border-radius: 8px;
    background-color: #f1f1f3;
    flex-wrap: wrap;
}

.header .botton {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.botton .log-in {
    padding: 14px 34px;
    border-radius: 8px;
    background-color: #ff9500;
    color: #fff;
}

.header svg {
    display: none;
}

@media screen and (max-width: 900px) {
    .header .navbar {
        display: none;
    }

    .header svg {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .header .botton {
        gap: 10px;
    }

    .botton .log-in {
        padding: 12px 20px;
    }
}

@media screen and (max-width: 471px) {
    .container {
        width: calc(100% - 32px);
    }
}

.hero {
    padding: 20px 0;
    margin-bottom: 80px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.hero .Paragraphs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero .Paragraphs h1 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    position: relative;
    border-radius: 11px;
    border: 1px solid #f1f1f3;
    background: #fcfcfd;
    padding: 20px;
    gap: 10px;
}

.hero .Paragraphs h1 span {
    color: #ff9500;
}

.hero .Paragraphs h1 .svg-1 {
    position: absolute;
    left: -35px;
    top: -30px;
    width: 50px;
    height: 45px;
}

.hero .Paragraphs .svg-2 {
    height: 62px;
    width: 62px;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 6px;
    background: #fff4e5;
}

.hero .Paragraphs h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 150%;
    padding: 0 30px;
    width: auto;
    text-align: center;
}

.hero .Paragraphs h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.hero .Paragraphs .botton {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero .Paragraphs .botton a {
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}

.hero .Paragraphs .botton a:first-of-type {
    background: #ff9500;
    color: #fff;
}

.hero .Paragraphs .botton a:last-of-type {
    background: #fff;
    color: #262626;
    border: 1px solid #f1f1f3;
}

.hero .Sponsor {
    width: 100%;
    display: flex;
    gap: 5px;
    overflow-x: auto;
    border-radius: 12px;
    border: 1px solid #f1f1f3;
    background: #fcfcfd;
    padding: 20px;
}

.hero .Sponsor .svg {
    width: calc((100% - 30px) / 7);
    border-right: 1px solid #f1f1f3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
}

.hero .Sponsor .svg:last-of-type {
    border-right: 1px solid #fcfcfd;
}

.hero .Sponsor svg {
    box-sizing: content-box;
}

.hero .hero-img {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .img {
    width: 100%;
    border-radius: 12px;
    display: flex;
    object-fit: cover;
}

.hero .hero-img button {
    position: absolute;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-style: none;
    border-radius: 68px;
}

.hero .hero-img button img {
    width: 100%;
}

@media screen and (max-width: 1137px) {
    .hero .Sponsor .svg {
        width: calc((100% - 75px) / 6);
        padding: 30px 30px;
    }
}

@media screen and (max-width: 1008px) {
    .hero .Paragraphs h1 {
        font-size: 34px;
    }

    .hero .Paragraphs h2 {
        font-size: 24px;
        font-weight: 700;
    }

    .hero .Sponsor .svg {
        width: calc((100% - 75px) / 3);
    }
}

@media screen and (max-width: 740px) {
    .hero .Paragraphs h1 {
        font-size: 26px;
        padding: 10px;
    }

    .hero .Paragraphs h2 {
        font-size: 17px;
    }

    .hero .Paragraphs h3 {
        font-size: 13px;
    }
}

@media screen and (max-width: 603px) {
    .hero .Paragraphs h1 {
        font-size: 16px;
    }

    .hero .Paragraphs h2 {
        font-size: 14px;
    }

    .hero .Paragraphs h3 {
        font-size: 15px;
    }

    .hero .Sponsor .svg {
        width: calc((100% - 10px) / 2.5);
        padding: 16px 16px;
    }
}

@media screen and (max-width: 471px) {
    .hero .Paragraphs .botton {
        gap: 10px;
    }

    .hero .Paragraphs h1 {
        font-size: 12px;
        gap: 5px;
    }

    .hero .Paragraphs .botton a {
        font-size: 12px;
        padding: 14px 2px;
    }

    .hero .Paragraphs .svg-2 {
        width: 24px;
        height: 24px;
        padding: 5px;
    }

    .hero .Paragraphs h1 .svg-1 {
        width: 30px;
        height: 30px;
        left: -27px;
        top: -23px;
    }

    .hero .hero-img button img {
        width: 34px;
        height: 34px;
    }
}

.Benefits {
    padding: 20px 0;
    margin-bottom: 80px;
}

.Benefits-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 10px;
}

.Benefits-main h2 {
    color: #262626;
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
}

.Benefits-main .Benefits-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 38px;
}

.Benefits-main .Benefits-p a {
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #f1f1f3;
    background: #fcfcfd;
    color: #262626;
    font-weight: 500;
    line-height: 150%;
}

.Benefits-main .Benefits-p p {
    color: #59595a;
    width: 1000px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.Benefits-info {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.Benefits-card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 3);
    border-radius: 12px;
    background: #fff;
    gap: 50px;
}

.Benefits-card span {
    align-self: end;
    color: #262626;
    font-size: 80px;
    font-weight: 700;
    line-height: 75%;
}

.Benefits .card-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-height: max-content;
}

.Benefits .card-info h3 {
    color: #333;
    font-size: 21.7px;
    font-weight: 600;
    line-height: 150%;
}

.Benefits .card-info p {
    color: #4c4c4d;
}

.Benefits .Benefits-card button {
    padding: 20px;
    align-self: end;
    border-radius: 8px;
    border: 1px solid #f1f1f3;
    background: #fcfcfd;
    cursor: pointer;
    margin-top: auto;
}

.Benefits .Benefits-card svg {
    width: 45px;
    height: 45px;
    align-self: flex-end;
    justify-self: flex-end;
}

@media screen and (max-width: 500px) {
    .Benefits-main .Benefits-p p {
        font-size: 11px;
    }
}

@media screen and (max-width: 911px) {
    .Benefits .Benefits-card {
        width: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 650px) {
    .Benefits .Benefits-card {
        width: 100%;
    }
}

@media screen and (min-width: 911px) and (max-width: 1250px) {
    .Benefits-card {
        padding: 30px;
        gap: 30px;
    }

    .Benefits .card-info h3 {
        font-size: 15.7px;
    }

    .Benefits-card span {
        font-size: 50px;
    }

    .Benefits .card-info p {
        font-size: 14px;
    }

    .Benefits .Benefits-card button {
        padding: 14px;
    }

    .Benefits .Benefits-card svg {
        width: 26px;
        height: 26px;
    }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
    .Benefits-card {
        padding: 30px;
        gap: 30px;
    }

    .Benefits .card-info h3 {
        font-size: 15.7px;
    }

    .Benefits-card span {
        font-size: 50px;
    }

    .Benefits .card-info p {
        font-size: 14px;
    }

    .Benefits .Benefits-card button {
        padding: 14px;
    }

    .Benefits .Benefits-card svg {
        width: 26px;
        height: 26px;
    }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    .Benefits-card {
        padding: 30px;
        gap: 30px;
    }

    .Benefits .card-info h3 {
        font-size: 15.7px;
    }

    .Benefits-card span {
        font-size: 50px;
    }

    .Benefits .card-info p {
        font-size: 14px;
    }

    .Benefits .Benefits-card button {
        padding: 14px;
    }

    .Benefits .Benefits-card svg {
        width: 26px;
        height: 26px;
    }
}

.Courses {
    padding: 20px 0;
    margin-bottom: 80px;
}

.Courses-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 10px;
}

.Courses-main h2 {
    color: #262626;
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
}

.Courses-main .Courses-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 38px;
}

.Courses-main .Courses-p a {
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #f1f1f3;
    background: #fcfcfd;
    color: #262626;
    font-weight: 500;
    line-height: 150%;
}

.Courses-main .Courses-p p {
    color: #59595a;
    width: 1000px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.Courses-info {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.Course {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 2);
    background-color: #fff;
    border-radius: 12px;
    border: #f1f1f3;
    padding: 50px;
    gap: 15px;
}

.Course img {
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 325px;
    object-fit: cover;
}

.Course-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: max-content;
}

.Course-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 14px;
}

.Course-data span:first-of-type {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Course-data .span-1 {
    border-radius: 8px;
    border: 1px solid #f1f1f3;
    padding: 10px 16px;
    background: #fff;
    color: #4c4c4d;
    font-size: 16px;
}

.Course-data .span-2 {
    font-size: 20px;
    color: #262626;
    font-weight: 700;
}

.Course-data-p {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.Course-info h3 {
    color: #262626;
    font-size: 16px;
    font-weight: 800;
}

.Course-info p {
    color: #4c4c4d;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.Course .a {
    margin-top: auto;
}

.Course a {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #f1f1f3;
    background: #f7f7f8;
    color: #262626;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .Courses-main .Courses-p p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1150px) {
    .Course {
        padding: 30px;
    }
}

@media screen and (max-width: 750px) and (min-width: 710px) {
    .Course img {
        height: 158px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    .Course img {
        height: 243px;
    }
}

@media screen and (max-width: 769px) and (min-width: 710px) {
    .Course-data {
        gap: 5px;
    }

    .Course-info h3 {
        font-size: 15px;
    }

    .Course-info p {
        font-size: 12px;
    }

    .Course-data .span-1 {
        padding: 10px 8px;
    }
}

@media screen and (max-width: 710px) {
    .Course {
        width: 100%;
    }
}

@media screen and (max-width: 410px) {
    .Course img {
        height: 145px;
    }

    .Course-data {
        gap: 5px;
    }

    .Course-info h3 {
        font-size: 15px;
    }

    .Course-info p {
        font-size: 12px;
    }

    .Course-data .span-1 {
        padding: 10px 8px;
    }
}

@media screen and (max-width: 342px) {
    .Course-data .span-1 {
        padding: 10px 8px;
    }
}

@media screen and (max-width: 425px) {
    .Course-info a {
        padding: 13px 11px;
    }
}

.Testimonials {
    padding: 20px 0;
    margin-bottom: 80px;
}

.Testimonials-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 10px;
}

.Testimonials-main h2 {
    color: #262626;
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
}

.Testimonials-main .Testimonials-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 38px;
}

.Testimonials-main .Testimonials-p a {
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #f1f1f3;
    background: #fcfcfd;
    color: #262626;
    font-weight: 500;
    line-height: 150%;
}

.Testimonials-main .Testimonials-p p {
    color: #59595a;
    width: 1000px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.Testimonials .Testimonial-area {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.Testimonial {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 2);
    border-radius: 12px;
    border: 1px solid #f1f1f3;
    background-color: #fcfcfd;
}

.Testimonials .Testimonial-text {
    padding: 50px;
    background: #fff;
    max-height: max-content;
}

.Testimonials .Testimonial-text p {
    color: #4c4c4d;
    font-size: 15px;
    line-height: 150%;
}

.Testimonial-user-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    background: #fcfcfd;
    margin-top: auto;
    border: 1px solid #f1f1f3;
}

.Testimonials .Testimonial-user-Info {
    display: flex;
    gap: 15px;
    align-items: center;
}

.Testimonials .Testimonial-user-Info img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.Testimonials .Testimonial-user-area button {
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #f1f1f3;
    background: #f7f7f8;
    color: #262626;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .Testimonials-main .Testimonials-p p {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .Testimonials-main h2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1045px) and (min-width: 850px) {
    .Testimonials .Testimonial-area {
        gap: 15px;
    }

    .Testimonial {
        width: calc((100% - 15px) / 2);
    }

    .Testimonials .Testimonial-text {
        padding: 50px 30px;
    }

    .Testimonial-user-area {
        padding: 30px;
    }

    .Testimonials .Testimonial-user-Info {
        gap: 10px;
    }

    .Testimonials .Testimonial-user-Info img {
        width: 50px;
        height: 50px;
    }

    .Testimonial-user-Info h3 {
        font-size: 15px;
    }

    .Testimonials .Testimonial-user-area button {
        padding: 18px 15px;
    }
}

@media screen and (max-width: 850px) {
    .Testimonial {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .Testimonials .Testimonial-text {
        padding: 50px 30px;
    }

    .Testimonial-user-area {
        padding: 30px;
    }

    .Testimonials .Testimonial-user-Info {
        gap: 10px;
    }

    .Testimonials .Testimonial-user-Info img {
        width: 50px;
        height: 50px;
    }

    .Testimonial-user-Info h3 {
        font-size: 13px;
    }

    .Testimonials .Testimonial-user-area button {
        padding: 18px 10px;
        font-size: 10px;
    }
}

.Pricing {
    padding: 20px 0;
    margin-bottom: 80px;
}

.Pricing-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 10px;
}

.Pricing-main h2 {
    color: #262626;
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
}

.Pricing-main .Pricing-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 38px;
}

.Pricing-main .Pricing-p p {
    color: #59595a;
    width: 1000px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.Pricing-main .Pricing-p span {
    display: flex;
    padding: 12px;
    align-items: center;
    border-radius: 8px;
    background: #fff;
}

.Pricing-main .Pricing-p span button:first-of-type {
    padding: 14px 30px;
    border-radius: 6px;
    background: #ff9500;
    color: #fff;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.Pricing-main .Pricing-p span button:last-of-type {
    padding: 14px 30px;
    border-radius: 100px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.Pricing-area {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 12px;
    padding: 50px;
}

.Pricing-style {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 2);
    border-radius: 12px;
    border: 1px solid #f1f1f3;
    background: #fcfcfd;
    padding: 30px 16px 20px 16px;
}

.Pricing-style-top {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Pricing-style-top p:first-of-type {
    padding: 12px 22px;
    border-radius: 6px;
    border: 1px solid #ffeacc;
    background: #fff9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-size: 22px;
    font-weight: 500;
    line-height: 169%;
}

.Pricing-style-top p:last-of-type {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.Pricing-style-top p:last-of-type span:first-of-type {
    color: #262626;
    font-size: 80px;
    font-weight: 600;
    line-height: 73%;
}

.Pricing-style-top p:last-of-type span:last-of-type {
    color: #4c4c4d;
    font-size: 20px;
    font-weight: 500;
    align-self: flex-end;
}

.Pricing .Pricing-sheet {
    width: 100%;
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 14px 14px 0px 0px;
    border: 1px solid #f1f1f3;
    padding-top: 20px;
    background-color: #fff;
}

.Pricing .Pricing-sheet .p {
    color: #262626;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.pricing-card {
    width: 100%;
    display: flex;
    padding: 0px 25px;
    flex-direction: column;
    gap: 20px;
}

.Pricing-card-row {
    width: 100%;
    display: flex;
    padding: 7px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #f1f1f3;
}

.Pricing-card-row .svg {
    box-sizing: content-box;
    padding: 6px;
    border-radius: 6px;
    background: #fff4e5;
}

.Pricing-card-row .svg-x {
    box-sizing: content-box;
    padding: 5.5px;
    border-radius: 6px;
    border: 1px solid #f1f1f3;
}

.Pricing-card-row p {
    width: 100%;
    color: #4c4c4d;
    font-size: 12px;
    line-height: 150%;
}

.Pricing-style-bottom {
    display: flex;
    flex-direction: column;
}

.Pricing a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 24px;
    border-radius: 0px 0px 8px 8px;
    background: #ff9500;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}

@media screen and (max-width: 1428px) {
    .Monthly-Yearly {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .Pricing-main .Pricing-p p {
        font-size: 15px;
    }
}

@media screen and (max-width: 680px) {
    .Pricing-area {
        gap: 15px;
        padding: 20px;
    }

    .Pricing-style {
        padding: 30px 16px 20px 16px;
    }

    .Pricing-style-top p:last-of-type {
        margin-bottom: 25px;
    }

    .Pricing-style-top {
        gap: 30px;
    }

    .Pricing .Pricing-sheet {
        padding: 15px;
        gap: 20px;
    }

    .Pricing-style-top p:last-of-type span:first-of-type {
        font-size: 60px;
    }

    .Pricing .Pricing-sheet .p {
        font-size: 17px;
        line-height: 100%;
    }

    .pricing-card {
        gap: 15px;
        padding: 0px;
    }

    .Pricing-card-row {
        padding: 8px;
        gap: 5px;
    }

    .Pricing-card-row p {
        font-size: 11px;
        line-height: 100%;
    }

    .Pricing a {
        padding: 17px 17px;
        font-size: 16px;
        line-height: 100%;
    }
}

@media screen and (max-width: 1130px) and (min-width: 750px) {
    .Pricing-area {
        gap: 15px;
        padding: 30px;
    }

    .Pricing-style {
        padding: 30px 16px 20px 16px;
        width: calc((100% - 15px) / 2);
    }

    .Pricing-style-top p:last-of-type {
        margin-bottom: 25px;
    }

    .Pricing-style-top {
        gap: 30px;
    }

    .Pricing-style-top p:last-of-type span:first-of-type {
        font-size: 60px;
    }

    .Pricing .Pricing-sheet {
        padding: 20px;
        gap: 20px;
    }

    .Pricing .Pricing-sheet .p {
        font-size: 17px;
        line-height: 100%;
    }

    .pricing-card {
        gap: 15px;
        padding: 0px;
    }

    .Pricing-card-row {
        padding: 8px;
        gap: 5px;
    }

    .Pricing-card-row p {
        font-size: 11px;
        line-height: 100%;
    }

    .Pricing a {
        padding: 17px 17px;
        font-size: 17px;
        line-height: 100%;
    }
}

@media screen and (max-width: 750px) {
    .Pricing-style {
        width: 100%;
    }
}

.footer {
    padding: 20px 0;
    background-color: #fff;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.footer .footer-main {
    padding: 30px 0;
    border-bottom: 1px solid #f1f1f3;
    align-self: stretch;
}

.footer .footer-left {
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: #262626;
}

.footer .footer-left img {
    display: flex;
    width: 54px;
    height: 55px;
}

.footer .Contact-lnfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer .Contact-lnfo-data {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer .footer-right {
    display: flex;
    gap: 40px;
    width: calc(100% / 1.8);
    justify-content: space-evenly;
}

.footer .footer-right-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer .footer-right-item nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .footer-right-item a {
    color: #59595a;
}

.footer .footer-right-item .svgs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 14px;
}

.footer .footer-right-item .svgs svg {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 10px;
    border: 1px solid #f1f1f3;
    background: #f7f7f8;
    border-radius: 8px;
}

.footer .rights {
    color: #656567;
}

@media screen and (max-width: 850px) {
    .footer .footer-right {
        gap: 24px;
    }
}

@media screen and (max-width: 800px) {
    .footer .footer-right {
        width: 100%;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    .footer .row {
        gap: 24px;
    }
}

@media screen and (max-width: 425px) {
    .footer .rights {
        font-size: 14px;
    }
}